_build/
test-output/
.idea/
.idea/workspace.xml
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dep
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.log
*.nav
*.out
*.out.ps
*.src
*.snm
*.synctex.gz
*.toc
*.xwm
